* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, 1fr);
}

.item {
    background-color: #f0f0f0;
    text-align: center;
    border: 1px solid #ccc;
}

.hero {
    grid-row: 2 / 6;
    grid-column: 2 / 12;
    background-color: red;
}