* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

video {
    display: block;
    width: 100%;
}

h1 {
    font-family: "Cinzel", serif;
    font-weight: 700;
    font-size: 55px;
    text-shadow: 0px 0px 5px #0d0d0db2, 0px 0px 5px #0d0d0db2, 0px 0px 5px #0d0d0db2, 0px 0px 4px #0d0d0db2, 0px 0px 3px #0d0d0db2, 0px 0px 2px #0d0d0db2;
}

body {
    position: relative;
    vertical-align: baseline;
    color: #ffffff;
    background-color: #ffffff;
}

.hero-container {
    width: 100%;
    height: 80vh;
    min-height: 800px;
    clip-path: polygon(100% 0, 100% 100%, 50% 95%, 0 100%, 0 0);
}

.hero-video {
    height: 100%;
    object-fit: cover;
    width: 100%;
    filter: brightness(80%);
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-content {
    display: block;
    width: 90%;
    height: 100%;
    max-width: 1080px;
}

.section-header {
    background-image: url(./assets/section-header.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    text-align: right;
    padding: 10px;
    width: 100%;
}